<ion-item class="custom-input" lines="none" >
  <ion-icon *ngIf="icon" slot="start" color="secondary" [name]="icon"></ion-icon>
  <ion-input
    [type]="type"
    [autocomplete]="autocomplete"
    [label]="label"
    [formControl]="control"
    label-placement="floating"
  ></ion-input>
  <ion-button *ngIf="isPassword" (click)="mostraruOcultarPass()" color="secondary" slot="end" shape="round">
    <ion-icon slot="icon-only" [name]="hide ? 'eye': 'eye-off'"></ion-icon>
  </ion-button>
</ion-item>