<app-header [showMenu]="true" title="Electrodomésticos"></app-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card mode="ios"  class="hm d-flex-center ion-text-center" *ngIf="!loading && appliance" >
    <div>
      <h5>{{ appliance.length }}</h5>
      <p>Electrodomésticos</p>
    </div>
    <div>
      <h5>{{ getBills() | currency: 'MXN' }}</h5>
      <p>Precio Total</p>
    </div>
  </ion-card>

  <ion-list *ngIf="!loading">
    <ion-item-sliding class="product-item" *ngFor="let electrodomestico of appliance">
      <ion-item>
        <ion-avatar slot="start" >
          <img [src]="electrodomestico.img" alt="">
        </ion-avatar>
        <ion-label>
          <div class="name">{{ electrodomestico.nombre }}</div>
          <div class="data">
            <strong>Estado del electrodomestico: </strong> {{ electrodomestico.estado }} <br>
            <strong>Fecha de ingreso: </strong> {{ electrodomestico.fecha}} <br>
            <strong>Marca: </strong> {{ electrodomestico.marca }} <br>
            <strong>Garantia (meses): </strong> {{ electrodomestico.garantia }} <br>
            <strong>Precio: </strong> {{ electrodomestico.precio| currency: 'MXN' }} <br>
          </div>
        </ion-label>
      </ion-item>

      <ion-item-options >

        <ion-item-option (click)="addUpdateEmployee(electrodomestico)">
          <ion-icon class="option-btn" name="create-outline"></ion-icon>
        </ion-item-option>

        <ion-item-option (click)="confirmDeleteEmployee(electrodomestico)" color="danger">
          <ion-icon class="option-btn" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="loading">
    <ion-item-sliding class="product-item" *ngFor="let electrodomestico of [1,1,1,1,1,1,1]">
      <ion-item>
        <ion-avatar slot="start" >
          <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <div>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </div>
                    
        </ion-label>
      </ion-item>

      

    </ion-item-sliding>
  </ion-list>

  <div class="empty" *ngIf="!loading && !appliance.length">
    <ion-icon name="tv-outline" style="font-size: 48px; color: #ffffff;"></ion-icon>
    <h3>No hay electrodomesticos disponibles</h3>
  </div>  

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addUpdateEmployee()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>